html{height:90%;}
body{height:90%;}

.acc {
    background-color: lightblue;
    margin-left: 170px;
    border: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}

.tweets {
    background-color: lightblue;
    margin-left: 170px;
    border: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
.menu {
	float: left;
    max-width: 160px;
    margin: 0;
    border: 1px solid gray;
    padding: 1em;
}
h1 {

	background-color: lightblue;
    color: black;
    text-align: center;
}
p {
    font-family: verdana;
    font-size: 20px;
}

menu {
	float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}