@CHARSET "ISO-8859-1";

body{
	background-color : lightblue;
}

h1{
	text-align : center;
	font-family: Calibri;
}

table, th ,td{
	margin-left: 200px;
	background-color : lightgrey;
	border-collapse: collapse;
	border:2px solid white;
	font-family: Calibri;
	width:50%; 
	height:50%;
	text-align : center;
	padding_left : 300px;
}

</style>
</head>
<body>