* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url("tupac_bck.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

label {
	color: white;
}
#nav_wrapper ul{
	padding-top: 1%;
	padding-bottom: 1%;
	margin: 0px 0px 0px 0px;
	background: #22222a;
	color: white;
}

#nav_wrapper ul a{
	text-decoration: none;
	color: white;
	float: right;
}

#nav_wrapper ul li{
	list-style-type: none;
	display: inline-block;
	
}

#nav_wrapper li a{
	display: block;
}

#formular {
	align-items: center;
	padding-top: 10%;
	margin-bottom: 10%;
	margin-left: 40%;
	margin-right: 40%;
}

#error {
	color: white;
}