* {
	padding: 0;
	margin: 0;
}

body, input, button {
 	font: 14px "Trebuchet MS", sans-serif;
 	font-size: 13px;
 }
body {
	background-image: url("images/tupac_bck.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
}
label{
	color:white;
}

@font-face{
	font-family: omnespro;
	src:url(fonts/omnes-regular-webfont.ttf);
}

.tit{
	color: white;
	font-family:omnespro, sans-serif;
	font-size: 100px;
	position: relative;
	top: 50px;
	text-align: center;
}

.imglogo{
	width: 150px;
	height:150px;
	left: 400px;
	top:75px;
	position:relative;
}
.imgtitle{
	width: 550px;
	height:225px;
	left: 400px;
	top:75px;
	position:relative;

	
}

.search {
	position:center;
	width: 200px;
	padding: 8px;
	border: 1px solid rgb(50,50,50);
}
.submitsearch {
	poition:center;
	padding: 8px;
	background: rgb(100,100,100);
	border: 1px solid rgb(50,50,50);
	color: white;
	margin-left: -5px;
}
.submitsearch:hover{
	background: rgb(150,150,150);
}
.button{
	display:inline-block;
	text-decoration: none;
	border-radius:3px;
	border: 0;
}

.button_submit_login{
	padding:8px 130px;
	background: rgb(100,100,100);
	color:#fff;
}
.button_submit_login:hover{
	background: #DCDCDC;
	color:black;
	text-decoration:none;
}
.button_primary_login{
	
	margin-top:10px;
	padding:8px 127px;
	background: rgb(100,100,100);
	color:#fff;
}


.button_primary_login:hover{
	background: #DCDCDC;
	color: black;
	text-decoration: none;
}
.button_anonymus{
	margin-left:79px;
	margin-top:15px;
	color: rgb(200,200,200);
	text-decoration:none;
	font-size: 20px;
}
.button_anonymus:hover{
	text-decoration: none;
	color: white;
}

.button_submit_register {
	margin-top:10px;
	padding:8px 132px;
	background: rgb(100,100,100);
	color:#fff;
}

.button_submit_register:hover{
	background: #DCDCDC;
	color: black;
	text-decoration: none;
}

.button_primary_register{
	
	margin-top:10px;
	padding:8px 135px;
	background: rgb(100,100,100);
	color:#fff;
}


.button_primary_register:hover{
	background: #DCDCDC;
	color: black;
	text-decoration: none;
}





#content {
	align-items: center;
	margin-bottom: 10%;
	margin-left: 25%;
	margin-right: 25%;
	position:relative;
}
.logandreg{
	margin-top:75px;
}

#contnotlog{
	align-items: center;
	margin-bottom: 10%;
	margin-left: 30%;
	margin-right: 30%;
	position:relative;
}

.u_found {
        border: solid 1px #000;
        display: flex;
        justify-content: space-between;
        padding-top:1%;
        padding-bottom:1%;
        border-radius:5px;
    }

.username_s
{
  margin-left:2%;  
}

.follow
{
  margin-right:2%;  
}

.pers_text
{
	margin-left: 40%; 
	margin-bottom: 10%;
}

.pers_img
{
	width: 150px; 
	height:150px;
	border-style: groove;  
	border-radius: 5px;
}

.imglogomenu{
	width: 100px;
	height:100px;
	left: 10px;
	top: -5px;
	position:absolute;
}

#nav{
	width:100%;
	height:150px;
	padding-bottom: 2%;
}
#nav_wrapper{
	width:100%;
	height:54%;
	margin-left:auto;
	margin-right:auto;
	background: rgba(100,100,100,0.7);
	
}
#nav_wrapper ul{
	padding-left:125px;
	
}
#nav_wrapper ul li{
	list-style:none;
	display:inline;
	font-weight:bold;
	padding:34px 52px;
	
}
#nav_wrapper ul li:hover{
	background: #DCDCDC;
	text-color: black;
	transition:all 0.45s;
}
#nav_wrapper a{
	color:white;
	text-decoration:none;
	opacity: none;
}
#nav_wrapper li:hover a{
	color:black;
	text-decoration:none;
	opacity: none;
}
.error{
	color:red;
}
.clear {
	clear: both;
	background: none;
}
#footer{
	bottom:0;
}