* {
	padding: 0;
	margin: 0;
}

body, input, button {
 	font: 14px "Trebuchet MS", sans-serif;
 	font-size: 13px;
 }
body {
	background-image: url("images/tupac_bck.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
label{
	color:white;
}

.h1, h1{
	color: white;
	font: 40px "Arial", sans-serif;
	font-size:40px;
	text-align: center;
}

.imglogo{
	width: 150px;
	height:150px;
	left: 400px;
	top:75px;
	position:relative;
}
.imgtitle{
	width: 550px;
	height:225px;
	left: 400px;
	top:75px;
	position:relative;
	
}
.button{
	display:inline-block;
	text-decoration: none;
	border-radius:3px;
	border: 0;
}

.button_submit_login{
	padding:8px 130px;
	background: rgb(100,100,100);
	color:#fff;
}
.button_submit_login:hover{
	background: lightslategrey;
	color:white;
	text-decoration:none;
}
.button_primary_login{
	
	margin-top:10px;
	padding:8px 127px;
	background: rgb(100,100,100);
	color:#fff;
}


.button_primary_login:hover{
	background: lightslategrey;
	color: white;
	text-decoration: none;
}
.button_anonymus_login{
	margin-left: 24px;
	padding:8px 80px;
	color: rgb(100,100,100);
	text-decoration:none;
}
.button_anonymus_login:hover{
	text-decoration: none;
	color: white;
}

.button_submit_register {
	margin-top:10px;
	padding:8px 132px;
	background: rgb(100,100,100);
	color:#fff;
}

.button_submit_register:hover{
	background: lightslategrey;
	color: white;
	text-decoration: none;
}

.button_primary_register{
	
	margin-top:10px;
	padding:8px 135px;
	background: rgb(100,100,100);
	color:#fff;
}


.button_primary_register:hover{
	background: lightslategrey;
	color: white;
	text-decoration: none;
}

.button_anonymus_register{
	margin-left: 24px;
	padding:8px 80px;
	color: rgb(100,100,100);
	text-decoration:none;
}
.button_anonymus_register:hover{
	text-decoration: none;
	color: white;
}



#content {
	align-items: center;
	top: 75px;
	margin-bottom: 10%;
	margin-left: 40%;
	margin-right: 40%;
	position:relative;
}




.imglogomenu{
	width: 100px;
	height:100px;
	left: 10px;
	top: -5px;
	position:absolute;
}

#nav{
	width:100%;
	height:200px
}
#nav_wrapper{
	width:100%;
	height:81px;
	margin-left:auto;
	margin-right:auto;
	background: rgba(100,100,100,0.7);
	
}
#nav_wrapper ul{
	padding-left:125px;
	
}
#nav_wrapper ul li{
	list-style:none;
	display:inline;
	font-weight:bold;
	padding:34px 52px;
	
}
#nav_wrapper ul li:hover{
	background: #DCDCDC;
	text-color: black;
	transition:all 0.45s;
}
#nav_wrapper a{
	color:white;
	text-decoration:none;
	opacity: none;
}
.error{
	color:red;
}
.clear {
	clear: both;
	background: none;
}